beautifulsoup4==4.8.1
behave==1.2.6
certifi==2019.9.11
chardet==3.0.4
idna==2.8
MouseInfo==0.0.4
parse==1.18.0
parse-type==0.5.2
Pillow==8.3.2
PyAutoGUI==0.9.47
PyGetWindow==0.0.7
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.22
python-decouple==3.1
python3-xlib==0.15
PyTweening==1.0.3
requests==2.22.0
selenium==3.141.0
six==1.15.0
soupsieve==1.9.4
urllib3==1.25.6
zerosms==0.0.1
allure-behave==2.8.29
allure-python-commons==2.8.29
pytest==6.2.1
allure-docx==0.3.2


